body {
    background-color: #343F56;
    color: #FFFFFF;
}

span.title {
    font-size: 0.7em;
    font-weight: bold;
}

.detail {
    color: #05eb8b;
    font-size: 1.5em;
    font-weight: lighter;
}

.pour-water {
    font-size: 0.8em;
    font-weight: lighter;
    color: #FFFFFF;
}

.pour-total-water {
    font-size: 1em;
    font-weight: lighter;
    color: #05eb8b;
}

.pour-time{
    font-size: 1em;
    font-weight: lighter;
    color: #05eb8b;
}
